
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.settings/
/target/

Middlemarch.*
*.gz
*.tagger
*.ser
*.tsv

/src/main/resources/edu/stanford/nlp/models/dcoref/